<div class= "card">
  <div class= "card-header">
    <%=image_tag musician.picture %>
  </div>
  <div class="card-body">
    <h2><%= musician.name %></h2>
    <p class="address"><%= musician.address %></p>
    <p><%= musician.description %></p>
  <div>
</div>
