<% @musicians.each do |musician| %>
  <% @musicians.each do |musician| %>
  <%= link_to musician.name, musician_path(musican) %>
<% end %>

<a href="/musicians/1">Paul</a>
<a href="/musicians/2">Ringo</a>
<a href="/musicians/3">Jimmy</a>
