.cover
  .board-container
    .col-md-3.band-board
      = image_tag "band-cover.jpg"
    .col-md-4.band-info
      .row
        %h2 Band Name
        %p Band genre
      .row.spacing-top
        %button.btn.btn-sm Contactar
