.cover
  .board-container
    .col-md-3.band-board
      = image_tag "band-cover.jpg"
    .col-md-4.band-info
      .row
        %h2 #{ resource.name } #{ resource.try(:last_name) }
        - if resource.is_a? Event
          %p #{ resource.event_type.name }
