.search-bar-wrapper
  %i.icon-search
  %input#search-bar-text{placeholder: "search something", type: "text", value: ""}

.filters-bar
  %ul.filter-list
    %li.filter
      %select
        %option{:value => "volvo"} Volvo
        %option{:value => "saab"} Saab
        %option{:value => "mercedes"} Mercedes
        %option{:value => "audi"} Audi
    %li.filter
      %select{placeholder: "filtro"}
        %option{:value => "volvo"} Volvo
        %option{:value => "saab"} Saab
        %option{:value => "mercedes"} Mercedes
        %option{:value => "audi"} Audi
    %li.filter
      %select{placeholder: "filtro"}
        %option{:value => "volvo"} Volvo
        %option{:value => "saab"} Saab
        %option{:value => "mercedes"} Mercedes
        %option{:value => "audi"} Audi
