.search-bar-container
  .filters-bar
    .navbar
      .navbar-collapse.collapse
        %ul.nav.navbar-nav
          %li
            %a.dropdown-toggle{ href: "#", data: { toggle: "dropdown" }, role: "button", aria: { haspopup: "true", expanded: "false" }}
              Filtro
              %span.caret
            %ul.dropdown-menu
              %li
                = select_tag :event_type, options_from_collection_for_select(EventType.all, "id", "name")
          %li
            %a.dropdown-toggle{ href: "#", data: { toggle: "dropdown" }, role: "button", aria: { haspopup: "true", expanded: "false" }}
              Filtro
              %span.caret
            %ul.dropdown-menu
              %li
                %a{ href: "#", value: "volvo"} Volvo
                %a{ href: "#", value: "saab"} Saab
                %a{ href: "#", value: 'mercedes'} Mercedes
                %a{ href: "#", value: "audi"} Audi
          %li
            %a.dropdown-toggle{ href: "#", data: { toggle: "dropdown" }, role: "button", aria: { haspopup: "true", expanded: "false" }}
              Filtro
              %span.caret
            %ul.dropdown-menu
              %li
                %a{ href: "#", value: "volvo"} Volvo
                %a{ href: "#", value: "saab"} Saab
                %a{ href: "#", value: 'mercedes'} Mercedes
                %a{ href: "#", value: "audi"} Audi
        %ul.nav.navbar-nav
          %li
            %button.btn.btn-sm.btn-primary
              postear nuevo evento
