.search-bar-container
  .search-bar
    %i.icon-search
    %input#search-bar-text{placeholder: "search something", type: "text", value: ""}

  .filters-bar
    .navbar
      .navbar-collapse.collapse
        %ul.nav.navbar-nav
          %li
            %a.dropdown-toggle{ href: "#", data: { toggle: "dropdown" }, role: "button", aria: { haspopup: "true", expanded: "false" }}
              Filtro
              %span.caret
            %ul.dropdown-menu
              %li
                %a{ href: "#", value: "volvo"} Volvo
                %a{ href: "#", value: "saab"} Saab
                %a{ href: "#", value: 'mercedes'} Mercedes
                %a{ href: "#", value: "audi"} Audi
          %li
            %a.dropdown-toggle{ href: "#", data: { toggle: "dropdown" }, role: "button", aria: { haspopup: "true", expanded: "false" }}
              Filtro
              %span.caret
            %ul.dropdown-menu
              %li
                %a{ href: "#", value: "volvo"} Volvo
                %a{ href: "#", value: "saab"} Saab
                %a{ href: "#", value: 'mercedes'} Mercedes
                %a{ href: "#", value: "audi"} Audi
          %li
            %a.dropdown-toggle{ href: "#", data: { toggle: "dropdown" }, role: "button", aria: { haspopup: "true", expanded: "false" }}
              Filtro
              %span.caret
            %ul.dropdown-menu
              %li
                %a{ href: "#", value: "volvo"} Volvo
                %a{ href: "#", value: "saab"} Saab
                %a{ href: "#", value: 'mercedes'} Mercedes
                %a{ href: "#", value: "audi"} Audi
        %ul.nav.navbar-nav
          %li
            %button.btn.btn-sm.btn-primary
              postear nuevo evento
