.search-bar-container
  .filters-bar
    .navbar
      .navbar-collapse.collapse
        %ul.nav.navbar-nav
          %li
            = form_tag({controller: 'events', action: 'index'}, method: 'get') do
              = select_tag 'event_type', options_from_collection_for_select(EventType.all, :id, :name), prompt: 'Tipo de evento'
              = text_field_tag :starts_with, nil, placeholder: 'Nombre'
              = submit_tag 'Buscar', name: nil, class: 'btn btn-sm btn-primary'