.user-types
  %h2.center
    Escoga un tipo de usuario:
  %nav
    %ul.pager
      %li.type
        = link_to 'Banda', new_band_path
      %li.type
        = link_to 'Musico', new_musician_path
      %li.type
        = link_to 'Cliente', new_client_path
