default: &default
  adapter: postgresql
  encoding: utf8
  reconnect: false
  timeout: 5000
  pool: 5

test:
  <<: *default
  host: localhost
  database: gigger_test

development:
  <<: *default
  host: localhost
  database: gigger_dev

staging:
  <<: *default
  database: gigger_staging

production:
  <<: *default
  database: gigger_production
  