html, body {
  width: 100%;
  height: 100%;
  position: relative;
}

body {
  position: relative;
}

#navbar-background{
  background-color: #e5e5e5;
}

#header-navbar {
  padding-left: 60px;
}

#navbar {
  padding-right: 70px;
}

.navbar {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  border: 0;
  margin-bottom: 0;

  li {

    &:last-child {
      border: none;
    }

    a {
      color: black;
      height: 52px;

      &.controlMenu {
        padding: 10px;

        .controls {
          & > div {
            width: 15px;
            height: 15px;
            display: inline-block;
          }
        }
      }
    }

    button {
      margin-top: 11px;
    }

    .dropdown-menu {
      a {
        height: inherit;
      }
    }
  }

  .user-avatar {
    display: inline-block;

    img {
      height: 30px;
      width: 30px;
    }
  }

  .user-name {
    display: inline-block;
  }
}

.subnavbar {
  height: 30px;
  background-color: #4c4c4c;
  color: white;
  line-height: 30px;

  .title {
    padding-left: 20px;
  }

  .breadcrumbs {
    ul {
      display: inline-block;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;

        &+li:before {
          padding: 0 5px;
          color: #e5e5e5;
          content: "/\00a0";
        }

        a {
          color: white;
        }
      }
    }
  }
}
